{% extends 'admin/master.html' %}

{% block body %}

<style>
  .bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
  }
  .bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  .bs-callout p:last-child {
    margin-bottom: 0;
  }
  .bs-callout code {
    border-radius: 3px;
  }
  .bs-callout + .bs-callout {
    margin-top: -5px;
  }
  .bs-callout-default {
    border-left-color: #777;
  }
  .bs-callout-default h4 {
    color: #777;
  }
  .bs-callout-primary {
    border-left-color: #428bca;
  }
  .bs-callout-primary h4 {
    color: #428bca;
  }
  .bs-callout-success {
    border-left-color: #5cb85c;
  }
  .bs-callout-success h4 {
    color: #5cb85c;
  }
  .bs-callout-danger {
    border-left-color: #d9534f;
  }
  .bs-callout-danger h4 {
    color: #d9534f;
  }
  .bs-callout-warning {
    border-left-color: #f0ad4e;
  }
  .bs-callout-warning h4 {
    color: #f0ad4e;
  }
  .bs-callout-info {
    border-left-color: #5bc0de;
  }
  .bs-callout-info h4 {
    color: #5bc0de;
  }
</style>

<div class="bs-callout bs-callout-warning">
  <h4>
    Note: This software has been written only for technology demonstration
    purpose
  </h4>
  <p>
    If you are looking for a real Inventory Management System or a Full-fledged
    ERP, head over to the awesome <a href="https://erpnext.com">ERPNext</a>
  </p>
</div>

<div class="jumbotron">
  <div class="container">
    <h1 id="inventory-management-web-application">Spaceship Inventory Management</h1>
    <p>A web application using Flask framework to manage inventory of a list of products in
      respective warehouses.</p>
    <p>
      In this Demo a Spaceship wholesaler uses it to keep track of their inventory around various locations in the
      world.
    </p>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <h2 id="views">Views:</h2>
    <ul>
      <li><a href="/product/">Add/Edit/View Product</a></li>
      <li><a href="/location/">Add/Edit/View Location</a></li>
      <li><a href="/productmovement/">Add/Edit/View ProductMovement</a></li>
    </ul>

    <h2 id="report">Report:</h2>
    <ul>
      <li><a href="/productstock/">Balance quantity in each location</a></li>
    </ul>
  </div>
</div>

{% endblock %}